---
layout: default
title: Home
---

<div class="home">
  <div class="grid grid-pad">
    <div class="content">
      <p style="margin-bottom: -12px;"><a href="/">HOME</a> » ARTICLES</p>
      <div class="listings">
        <div>
          <h2>ARTICLES</h2>
          {% assign years = site.posts
          | group_by_exp: "post", "post.date | date: '%Y'"
          %}
          {% for year in years %}
          <h3>{{ year.name }}</h3>
            {% for post in year.items %}
              {% assign date_format = site.minima.date_format | default: "%b %Y" %}
              <div style="background-color: rgba(0, 72, 255, 0.05); border-radius: 5px; margin: 6px; padding: 8px">
                <div>
                  {% assign is_private = false %}
                  {% for file in site.data.FILES %}
                    {% if file.file == post.path %}
                      {% assign is_private = true %}
                      <a class="post-link" style="color: red" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    {% endif %}
                  {% endfor %}
                  {% if is_private == false %}
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                  {% endif %}
                  <span class="post-meta" style="font-size: 0.8em">{{ post.date | date: date_format }}</span>
                </div>
                <div style="text-align: right;">
                  <span style="color: darkred;">
                    {% for tag in post.tags %}
                    #{{ tag }}
                    {% endfor%}
                  </span>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>