---
layout: default
title: Home
---

<div class="home">
  <div class="grid grid-pad">
    <div class="col-1-2">
      <div class="content">
        <div class="listings">
          {% include postslist.html category="Large Language Model (LLM)" %}
          {% include postslist.html category="LLM Training" %}
          {% include postslist.html category="llama.cpp" %}
          {% include postslist.html category="Transformer" %}
          {% include postslist.html category="Deep Learning" %}
          {% include postslist.html category="Machine Learning" %}
          {% include postslist.html category="NLP" %}
          {% include postslist.html category="Data Science & Engineering" %}
          {% include postslist.html category="MLOps & HPC" %}
          {% include postslist.html category="Math & Statistics" %}
          {% include postslist.html category="Information Retrieval" %}
        </div>
      </div>
    </div>
    <div class="col-1-2">
      <div class="content">
        <div class="listings">
          {% include postslist.html category="Algorithms & Data Structure" %}
          {% include postslist.html category="Books" %}
          {% include postslist.html category="Cloud" %}
          {% include postslist.html category="Infrastructure" %}
          {% include postslist.html category="Software Engineering" %}
          {% include postslist.html category="Languages & Framework" %}
          {% include postslist.html category="Productivity" %}
          {% include postslist.html category="Network Programming" %}
        </div>
      </div>
    </div>
  </div>
</div>
