---
layout: default
title: Home
---

<div class="home">
  <div class="grid grid-pad">
    <div class="col-1-2">
      <div class="content">
        {% for post in site.posts %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod == 1 %}
          <p>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <div style="font-size: 0.5em; margin-top: -4px;">
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <span style="float: right; color: darkred; padding-right: 10px;">{% for tag in post.tags %}#{{ tag }}&nbsp;&nbsp;{% endfor %}</span>
            </div>
          </p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-1-2">
      <div class="content">
        {% for post in site.posts %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod == 0 %}
          <p>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <div style="font-size: 0.5em; margin-top: -4px;">
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <span style="float: right; color: darkred; padding-right: 10px;">{% for tag in post.tags %}#{{ tag }}&nbsp;&nbsp;{% endfor %}</span>
            </div>
          </p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

</div>

<hr>

{% include wikilist.html %}