<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  <dt-header>
  <div class="content l-page">
    <a href="/" class="logo">
      likejazz.com
    </a>
    <div class="nav">
      <a href="https://likejazz.tumblr.com/about">ABOUT</a>
      <a href="/articles/">ARTICLES</a>
      <a href="/r">&nbsp;&nbsp;&nbsp;</a>
    </div>
  </div>
  </dt-header>

  <div class="container content">
    <main>
    <style type="text/css">
      div.banner {
        display: table;
        width: 100%;
        /* border: 1px solid black; */
      }

      div.banner img {
        vertical-align: middle;
        display: table-cell;
        width: 140px;
        padding: 4px;
        /* border: 1px solid red; */
      }
      div.banner span {
        vertical-align: middle;
        display: table-cell;
        padding: 2px;
      }
    </style>
    <div class="banner">
      <span><a href="https://www.yes24.com/product/goods/146290174"><img src="/images/2025/books.png"></a></span>
      <span>
        <p><a href="https://www.yes24.com/product/goods/146290174">『비전공자도 이해할 수 있는 챗GPT』</a> &nbsp; <a href="https://www.yes24.com/product/goods/134766939">『비전공자도 이해할 수 있는 AI 지식』</a></p>
        <p>
          <small>
            세상에서 가장 이해하기 쉬운 챗GPT 교양서
          </small>
        </p>
      </span>
    </div>

    {{ content }}

    <div style="margin-bottom: 2rem"></div>

    <script>
      var config = {
          startOnReady:true,
          theme: 'base',
          flowchart:{
                  useMaxWidth:false,
                  htmlLabels:true
              }
      };
      mermaid.initialize(config);
      mermaid.init(undefined, '.language-mermaid');
      </script>
    </main>
  </div>

  <dt-footer>
  <div class="l-page">
    <div class="description">
    <a href="/" class="logo">
      likejazz.com
    </a>
    is a collection of articles that explains the technologies related to LLMs.<br />
    &copy; 2000 - <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
    <a href="https://likejazz.tumblr.com/about">Sang Park</a> Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/deed.ko">CC BY 4.0</a>.<br />
    This site design was brought from <a href="https://distill.pub">Distill</a>.
    </div>
  </div>
  </dt-footer>

  </body>
</html>
