---
layout: default
---

<article class="post">
  <p style="margin-bottom: 4px;"><a href="/">HOME</a> » <a href="/wiki/">WIKI</a> » {{ page.title }}</p>
  {% include bear.html %}
  <h1 class="post-title">{{ page.title }}</h1>
  {% include confidential.html %}
  {{ content }}
  <div style="text-align: right;">
    <small>
      {% if page.last_modified_history %}
        Recent Updates:
        <div style="line-height: 1.4;">
          {% for date in page.last_modified_history limit:20 %}
            {{ date }}<br>
          {% endfor %}
        </div>
      {% elsif page.last_modified_at %}
        Last Modified: {{ page.last_modified_at }}
      {% endif %}
    </small>
  </div>
  <p style="text-align: right; font-size: small;">
    이 글의 비용을 <a href="https://buymeacoffee.com/sangpark">후원</a>할 수 있으며, 후원자에게 다양한 혜택을 제공할 예정입니다.
  </p>
</article>